/*
REFERENCE
1. http://muse.pixelcoder.net/carna/light/
2. http://idesi9n.com/phone/
3. https://wealthpack.com/
4. http://prestazilla.org/wordpress/appbox/
5. http://html.iwthemes.com/coopbank-preview/
*/

html,body{margin: 0; padding: 0; font-size: 14px; line-height: 20px;}

ul,li,p{margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{margin-top:0; }

.row{margin-bottom: 0;}

.services{padding: 5em 0}

.mt5{margin-top:5em }
.plr-2{padding:0 2rem;}

.bg-primary{background-color: #b62532}
.bg-grey{background-color: #D0D5D1;}

/*MATERIAL-ICONS*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*NAV-BAR*/
nav{background-color: #fff; color: #777}
nav .brand-logo{color: #777; padding: .25em 0;}
nav img{width: 75px;}
nav ul{margin: 1em 0;}
nav ul a{color: #777; line-height: 35px;}
nav ul a:hover{background-color: #D0D5D1}
nav ul a.active{background-color: #B62532; color: #fff;}

/*LIST-VIEW*/
.list-view{display: block; margin-bottom: 20px; }
.list-view li{display: block; position: relative; padding-left: 30px;}
.list-view li:before{content: '\f105 '; font-family: FontAwesome; position: absolute; width: 20px; text-align: center; left: 0; top: 0;  }
.list-view li i{display: inline-block; margin-right: 5px;}

/*BOX*/
.box{min-height:200px }

/*BUTTON*/
.secondary-btn{background-color: #D0D5D1; color: #333;}
.secondary-btn:hover{background-color: #B62532; color: #fff;}

/*TITLE*/
.title{width: 100%; text-align: center; margin-bottom: 3em;}
.title h4{text-transform: uppercase;}
.title p{color: #aaa;}

/*HOME-BANNER*/
.home-banner{position: relative; height: 100%; width: 100%; background-image: url('../img/bg-img-1.jpg'); background-size: cover; background-attachment: fixed; background-position: center;}
.home-banner img{position: absolute; width: 200px; bottom: 0em; right: 10%;}
.head-line{margin-top: 20%;}

/*GET-APPS*/
.get-app,
.who-we-are,
.contact{width: 100%; padding: 5em 0; position: relative; overflow: hidden;}

/*ANDROID-BTN*/
.app-btn{text-align: center;}
.android-btn{display: inline-block; background-color: #B62532; padding: 1em; font-size: 1em; border-radius: 40px; color: #fff;}
.android-btn i{padding: .5em; font-size: 1em}

/*WHO-WE-ARE*/
.who-we-are p{text-align: center}

/*SERVICES*/
.services i{color: #B62532}
.services p{color: #aaa;}

/*CONTACT*/
.contact-add{}
.contact-detail .icon{width: 80px; height: 80px; margin-right: 10px; float: left; border-radius: 50%; background: #eee; text-align: center;}
.contact-detail .icon i{line-height: 85px; color: #B62532}
.detail{margin-left: 110px; min-height: 100px; padding-bottom: 2.5em;}
.detail p{font-size: 12px; color: #aaa;}

.submit-row{text-align: right;}
.input-field{margin-bottom: 1em}
.input-field label {color: #aaa;}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label{color: #B62532;}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {border-bottom: 1px solid #B62532; box-shadow: 0 1px 0 0 #B62532;}

.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=password].valid,
textarea.materialize-textarea.valid([readonly]) {border-bottom: 1px solid #B62532; box-shadow: 0 1px 0 0 #B62532;}

.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
textarea.materialize-textarea:focus:not([readonly]){border-bottom: 1px solid #F44336;  box-shadow: 0 1px 0 0 #F44336;}

.input-field input:focus + label {color: #B62532;}
.input-field input:focus {border-bottom: 1px solid #B62532; box-shadow: 0 1px 0 0 #B62532;}
.input-field input.valid {border-bottom: 0px solid #9e9e9e; box-shadow: 0 1px 0 0 #9e9e9e;}
.input-field input.invalid {border-bottom: 1px solid #B62532; box-shadow: 0 1px 0 0 #B62532; }

textarea.materialize-textarea:focus:not([readonly]) {border-bottom: 1px solid #B62532; box-shadow: 0 1px 0 0 #B62532;}

input[type=text]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label{color: #B62532}


/*-------------
  FAQ-PAGE
--------------*/
.heading{width: 100%; background-color: #eee; padding: 2em 0;}
.heading h4{color: #444; margin-bottom: 0;}

/*Sitemap*/
.sitemap-row{padding: 1em 0;}
.sitemap{display: inline-block; }
.sitemap li{display: inline-block;}
.sitemap li a{color: #999; display: inline-block;}
.sitemap li a.active:before{content: '\f105'; font-family: FontAwesome; color: #999; margin: 0 10px; font-size: 12px;}

/*Faq*/
.faq-row,
.terms-row,
.login{padding:2em 0; width: 100%;}
.collapsible{box-shadow: none;}


/*-------------
  TERMS-POLICY
--------------*/
.terms-row h4{font-size: 20px; margin:1em 0; text-transform: uppercase;}


/*-------------
  LOGIN
--------------*/
.login{background-color:#757575;}

.login-box{width: 100%;background: #fff; padding: 1em; border-bottom: 2px solid #B62532;}
.login-box .login-form{display: block; width: 100%;}
.login-box .header{padding:1em; text-align:center;}
.login-box .header img{width: 120px}
.login-box .group{width: 100%;}


/*-------------
  FOOTER
--------------*/
footer.page-footer{background-color:#A3AAB2; margin-top: 0;}
footer.page-footer p{margin-bottom: 1em}


/*-------------
  SCROLL-TOP-TOP
--------------*/
.scrollToTop{width: 50px; height: 50px; border: 1px solid #fff; border-radius: 50%; padding: 10px; text-align: center; background: #B62532; font-weight: bold; color: #fff; text-decoration: none; position: fixed; bottom: 2%; right: 2%; display: none;}